

<div class="container">
    <div class=" row  align-items-center">
        <div class="col-lg-4">
            <input type="text"   placeholder="Search by Name of Employee ....." class="form-control w-100 mx-auto my-4"[(ngModel)]="selectsearchname"  >
        </div>

        <div class="col-lg-8">
            <form>
                <div class="col-lg-8 col-md-8 d-flex justify-content-between align-items-center ">
                 <div class="d-flex justify-content-center align-items-center w-50 me-2">
                     <label for="month">Month </label>
                 <select id="month"  class=" ms-2 form-control py-1  w-100"  [(ngModel)]="selectedMonth" [ngModelOptions]="{ standalone: true }">
                     <option value="1">January</option>
                     <option value="2">February</option>
                     <option value="3">March</option>
                     <option value="4">April</option>
                     <option value="5">May</option>
                     <option value="6">June</option>
                     <option value="7">July</option>
                     <option value="8">August</option>
                     <option value="9">September</option>
                     <option value="10">October</option>
                     <option value="11">November</option>
                     <option value="12">December</option>
                 </select>
                 </div>
                 
                 <div class="d-flex justify-content-center align-items-center w-50 ">
                     <label for="year">Year </label>
                 <input type="number" id="year" min="2010" max="2030" step="1"  class="mx-2 form-control w-75" [(ngModel)]="enteredYear" [ngModelOptions]="{ standalone: true }" >
                 </div>
             
                 <button class="btn btn-warning" type="button" (click)="search()">Search</button>  
                </div>
               
             
             </form>

            
        </div>
        <div class="alert alert-danger py-2 col-lg-4 col-md-5 col-sm-7 mx-auto mt-2" *ngIf="ErrMsg">{{ErrMsg}}</div>

    
    
    
    
    </div>
</div>


<div class=" table-wrapper text-white d-flex justify-content-center align-items-center p-3 rounded-2 mt-2">
    <h3 class="fw-bold " >SALARIES OF EMPLOYEES </h3>
</div>


<div class="table-responsive">
    <table class="table table-striped text-center mt-4">
        <thead class="head-table">
            <th class="text-capitalize">EmployeeName</th>
            <th class="text-capitalize">Department</th>
            <th class="text-capitalize">absenceDays</th>
            <th class="text-capitalize">attendDays</th>
            <th class="text-capitalize">basicSalary</th>
            <th class="text-capitalize" >overallBonusHours</th>
            <th class="text-capitalize">overallDiscountHours</th>
            <th class="text-capitalize">overallDiscount</th>
            <th class="text-capitalize">netSalary</th>
        </thead>
        <tbody>
            <tr *ngFor="let s of salaryofemployee" class="table-body">
                <td>{{s.employeeName}}</td>
                <td>{{s.departmentName}}</td>
                <td>{{s.absenceDays}}</td>
                <td  class="cursor-pointer" (click)="goToAttendempsalary(s.nationalID ,s.employeeName)">{{s.attendDays}}</td>
                <td>{{s.basicSalary}}</td>
                <td>{{s.overallBonusHours}}</td>
                <td class="cursor-pointer" (click)="goToLateempsalary(s.nationalID ,s.employeeName)">{{s.overallDiscountHours}}</td>
                <td>{{s.overallDiscount}}</td>
                <td>{{s.netSalary}}</td>
            </tr>
        </tbody>

    </table>
</div>
<mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
