<div class="row">
    <div class="col-8">
        <h2 class="text-main">Register Now</h2>
        <form [formGroup]="registerform" (ngSubmit)="handleSubmit()" class="pt-3">

            <div class="mb-3">
                <label for="fullName" class="form-label">FullName</label>
                <input type="text" 
                class="form-control" 
                id="fullName" 
                formControlName="fullName">
              </div>
              <div class="alert-danger alert py-2  mt-1" *ngIf="registerform.get('fullName')?.errors && registerform.get('fullName')?.touched">
                <p *ngIf="registerform.get('fullName')?.getError('required')" class="mb-0">fullName ia Required</p>
                <p *ngIf="registerform.get('fullName')?.getError('minlength')" class="mb-0">Minlength is 3 letters</p>
                <p *ngIf="registerform.get('fullName')?.getError('maxlength')" class="mb-0">maxlength is 50 letters</p>
              </div>


              <div class="mb-3">
                <label for="userName" class="form-label">UserName</label>
                <input type="text" 
                class="form-control" 
                id="userName" 
                formControlName="userName">
              </div>
              <div class="alert-danger alert py-2  mt-1" *ngIf="registerform.get('userName')?.errors && registerform.get('userName')?.touched">
                <p *ngIf="registerform.get('userName')?.getError('required')" class="mb-0">UserName ia Required</p>
                <p *ngIf="registerform.get('userName')?.getError('minlength')" class="mb-0">Minlength is 3 letters</p>
                <p *ngIf="registerform.get('userName')?.getError('maxlength')" class="mb-0">maxlength is 30 letters</p>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" 
                class="form-control" 
                id="email" 
                formControlName="email">
              </div>
              <div class="alert-danger alert py-2  mt-1" *ngIf="registerform.get('email')?.errors && registerform.get('email')?.touched">
                <p *ngIf="registerform.get('email')?.getError('required')" class="mb-0">Email ia Required</p>
                <p *ngIf="registerform.get('email')?.getError('email')" class="mb-0">Email is Invalid</p>
              </div>


              <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" 
                class="form-control" 
                id="Password" 
                formControlName="password">
              </div>
              <div class="alert-danger alert py-2  mt-1" *ngIf="registerform.get('password')?.errors && registerform.get('password')?.touched">
                <p *ngIf="registerform.get('password')?.getError('required')" class="mb-0">password ia Required</p>
                <p *ngIf="registerform.get('password')?.getError('pattern')" class="mb-0">Password must be start Capital letter and length 20</p>
              </div>

              <!-- <div class="mb-3">
                <label for="rePassword" class="form-label">rePassword</label>
                <input type="password" 
                class="form-control" 
                id="rePassword" 
                formControlName="rePassword">
              </div>
              <div class="alert-danger alert py-2  mt-1" *ngIf="registerform.get('rePassword')?.errors && registerform.get('rePassword')?.touched">
                <p *ngIf="registerform.get('rePassword')?.getError('required')" class="mb-0">repassword ia Required</p>
                <p *ngIf="registerform.get('rePassword')?.getError('pattern')" class="mb-0">rePassword must be contain capital and small letters</p>
              </div> -->

             

              <div class="alert alert-danger py-2" *ngIf="ErrMsg">{{ErrMsg}}</div>



            <button [disabled]="registerform.invalid" class=" btn bg-main text-white">   
                <i *ngIf="isloading" class="fas fa-spinner fa-spin"></i> SignUp</button>

        </form>
    </div>
</div>
