<h3 class="fw-bold " >EMPLOYEES <i class="fa-solid fa-users"></i></h3>

<div class="d-flex justify-content-end mb-5">
    <button  (click)="GoToEmloyee()" class="btn btn-dark "><i class="fa-solid fa-plus"></i> Add Employee</button>
</div>

<input type="text"   placeholder="Search ....." class="form-control w-50 mx-auto my-4">
<div class="table-responsive">
    <table class="table table-striped text-center ">
        <thead>
            <tr>
                <th class="">Name </th>
                <th class="">Gender </th>
                <th class="">phone </th>
                <th class="">Date of Birth </th>
                <th class="">National ID </th>
                <th class="">Address</th>
                <!-- <th class="">Nationality</th> -->
                <th class="">Department</th>
                <th class=""> Hiring Date </th>
                <th class=""> Salary </th>
                <th class=""> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employee">
                <td class="text-capitalize small">{{e.employeeName}}</td>
                <td class="small">{{e.gender}}</td>
                <td class="small">{{e.phone}}</td>
                <td class="small">{{e.dateOfBirth}}</td>
                <td class="small">{{e.nationalID}}</td>
                <td class="small">{{e.address}}</td>
                <!-- <td class="small">{{e.nationality}}</td> -->
                <td class="small">{{e.department}}</td>
                <td class="small">{{e.hiringDate}}</td>
                <td class="small">{{e.salary}}</td>
                <td class="small ">
                    <div class="d-flex justify-content-evenly align-items-center ">
                        <div class="d-inline-block mb-1 "  (click)="editEmployee(e.nationalID)">
                            <i class="fa-solid fa-pen-to-square me-3 text-info fs-5 cursor-pointer me-3 icon-edit "></i>
                            </div>
                            <div class="con-icon d-inline-block cursor-pointer ms-4"  (click)="deletedemployee(e.nationalID,e.employeeName)">
                                <div class="icon me-3">
                                    <div class="lid"></div>
                                    <div class="lidcap"></div>
                                    <div class="bin">
                                        <div class="c cut1"></div>
                                        <div class="c cut2"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                  
                </td>
            </tr>
    
        </tbody>
    </table>
</div>
<mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

<!-- <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="pageIndex === 1">Previous</button>
    <span>{{ pageIndex }}</span>
    <button (click)="nextPage()" [disabled]="pageIndex === totalPages">Next</button>
</div> -->