<h3 class="fw-bold " >EMPLOYEES <i class="fa-solid fa-users"></i></h3>

<div class="d-flex justify-content-end mb-5">
    <button  (click)="GoToEmloyee()" class="btn btn-dark "><i class="fa-solid fa-plus"></i> Add Employee</button>
</div>

<input type="text"   placeholder="Search ....." class="form-control w-50 mx-auto my-4">
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Name </th>
            <th>Gender </th>
            <th>phone Number </th>
            <th>Date of Birth </th>
            
            <th>National ID </th>
            <th>Address</th>
            <th>Nationality</th>

            <th>Department</th>
            <th> Hiring Date </th>
            <th> Salary </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-capitalize">hager</td>
            <td>Female</td>
            <td>256424654</td>
            <td>25/02/2020</td>
            <td>5487845487</td>
            <td>menofia</td>
            <td>egyptian</td>
            <td>Sales</td>
            <td>25/2</td>
            <td>6000</td>
            <td>

              
                
                <div class="d-inline-block "  (click)="editEmployee('42232388084954')">
                <i class="fa-solid fa-pen-to-square me-3 text-info fs-5 cursor-pointer me-3 icon-edit "></i>
                </div>
                <div class="con-icon d-inline-block cursor-pointer ms-4"  (click)="deletedemployee('31238899875510')">
                    <div class="icon me-3">
                        <div class="lid"></div>
                        <div class="lidcap"></div>
                        <div class="bin">
                            <div class="c cut1"></div>
                            <div class="c cut2"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>
