
<h3>{{isEditing?"Update Holiday ":"Add Holiday"}}</h3>


   <form  class="mt-4" [formGroup]="addHoliday"  (ngSubmit)="onSubmit()">
    <div class="row  gy-4">
        <div class="col-lg-6">
            <!-- <h4>Personal Info</h4> -->
    
            <div class="mb-3">
                <label class="col-3" for="name">Holiday Name: </label>
                <input type="text"  class="form-control  w-75" name="name" formControlName="holidayName" >

                <div class="text-danger" *ngIf="addHoliday.get('holidayName')?.errors && addHoliday.get('holidayName')?.touched">
                    <p *ngIf="addHoliday.get('holidayName')?.getError('required')" class="mb-0">Name is Required</p>
                    <p *ngIf="addHoliday.get('holidayName')?.getError('minlength')" class="mb-0">Minlength is 3 letters</p>
                    <p *ngIf="addHoliday.get('holidayName')?.getError('maxlength')" class="mb-0">Maxlength is 20 letters</p>
                  </div>
            </div>
           

            <div class="mb-3">
                <label class="col-3" for="birth">Holiday Date: </label>
                <input type="date"  class="form-control  w-75" name="birth" formControlName="dateOfBirth" >

                <div class="text-danger" *ngIf="addHoliday.get('holidayDate')?.errors && addHoliday.get('holidayDate')?.touched">
                    <p *ngIf="addHoliday.get('holidayDate')?.getError('required')" class="mb-0">Holiday Date is Required</p>
                  
                  </div>
                  
            </div>


           
    
          
    
           
            
    
    
          
    
        </div>
    
      
    </div>
 
    <button type="submit" class="btn btn-primary d-block ms-auto">{{isEditing?"Edit":"Add"}}</button>
   </form>


