
   <div class=" table-wrapper text-white d-flex justify-content-between align-items-center p-3 rounded-2">
   <h3 class="fw-bold " >National Holidays </h3>
   <div class="d-flex justify-content-end">
       <button  (click)="GoToAddHoliday()" class="btn btn-success "><i class="fa-solid fa-plus"></i> Add Holiday</button>
   </div>
</div>
   
   <div class="table-responsive">
       <table class="table table-striped text-center ">
           <thead>
               <tr>
                   <th class="">Holiday Name </th>
                   <th class="">Holiday Date </th>
                   <th class=""> Action </th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let h of holiday">
                   <td>{{h.holidayName}}</td>
                   <td>{{h.holidayDate}}</td>
                   <td>
                       <div class="d-flex justify-content-evenly align-items-center ">
                           <div class="d-inline-block mb-1 "  (click)="editHoliday(h.holidayDate)">
                               <i class="fa-solid fa-pen-to-square me-3 text-info fs-5 cursor-pointer me-3 icon-edit "></i>
                               </div>
                               <div class="con-icon d-inline-block cursor-pointer ms-4"  (click)="deleteHoliday(h.holidayName)">
                                   <div class="icon me-3">
                                       <div class="lid"></div>
                                       <div class="lidcap"></div>
                                       <div class="bin">
                                           <div class="c cut1"></div>
                                           <div class="c cut2"></div>
                                       </div>
                                   </div>
                               </div>
                       </div>
                     
                   </td>
               </tr>
       
           </tbody>
       </table>
   </div>
   
 